@use "./../../abstracts/mixins" as *;
@use "./../../abstracts/variables" as *;

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 4px;

  &__item {
    display: flex;
    align-items: center;
    gap: var(--large-fs);
    padding: var(--large-fs) var(--2xl-fs);

    background-color: var(--color-element-background);
    border: 1px solid var(--color-border);

    &-title {
      color: var(--color-normal-text);
      font-size: var(--default-fs);
      transition: var(--transition-duration);

      @include media($bp-mobile) {
        font-size: var(--small-fs);
      }
    }
  }

  &__item--complete &__item-title {
    text-decoration: line-through;
    color: var(--color-done-element);
  }
}
